---

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import HomeServices from '../components/home/services.astro';
import HomePlanning from '../components/home/planning.astro';
import HomeRequirements from '../components/home/requirements.astro';
import HomeReferences from '../components/home/references.astro';
import HomeCareer from '../components/home/career.astro';
//const {topBg = "white", topFilter = "", stripeBg = "var(--yellow)", bottomBg = "var(--gray)"} = Astro.props;
---

<!doctype html>
<html lang="de">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="Bauprojekt"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="generator" content={Astro.generator}/>
    <title>Bauprojekt</title>
</head>
<body>
    <Header/>
    <main>
        <div id="teaser" class="teaser" style="background-image: url('/src/assets/teaser_home.jpg')">
            <div class="container">
                <div id="layer">
                    <h1>
                        Ihr Partner
                        <span>für gewerblichen Ausbau</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="card-section light">
            <HomeServices />
        </div>
        <div class="card-section dark">
            <HomePlanning />
        </div>
        <div class="card-section light">
            <HomeRequirements />
        </div>
        <div class="card-section dark">
            <HomeReferences />
        </div>
        <div class="card-section light">
            <div class="container">
                <h2>Informieren Sie sich</h2>
                <button class="cta-btn">Kontakt</button>
            </div>
        </div>
        <div class="card-section dark">
            <HomeCareer />
        </div>
    </main>
    <Footer/>
</body>
</html>

<style>
    #teaser{
        position: relative;
        background-size: cover;
        
    }
    #layer{
        display: inline-block;
        padding: 25px 35px;
        -webkit-backdrop-filter: blur(3px);
        backdrop-filter: blur(3px);
        background-color: rgba(255, 255, 255, 0.3); 
    }
</style>
