---

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import HomeServices from '../components/home/services.astro';
import HomePlanning from '../components/home/planning.astro';
import HomeScopeServices from '../components/home/scope.astro';
import HomeReferences from '../components/home/references.astro';
import HomeConsulting from '../components/home/consulting.astro';
//const {topBg = "white", topFilter = "", stripeBg = "var(--yellow)", bottomBg = "var(--gray)"} = Astro.props;
---

<!doctype html>
<html lang="de">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="Bauprojekt"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="generator" content={Astro.generator}/>
    <title>Bauprojekt</title>
</head>
<body>
    <Header/>
    <main>
        <div id="teaser"></div>
        <div id="services">
            <div class="container">
                <HomeServices />
            </div>
            
        </div>
        <div id="content">
            <HomePlanning />
            <HomeScopeServices />
            <HomeReferences />
            <HomeConsulting />
        </div>
    </main>
    <Footer/>
</body>
</html>

<style>
    #services{
        position: relative;
        min-height: 100px;
        padding: 10px 0 55px;
        background: #fff;
    }
    #services::before {
        position: absolute;
        content: "";
        height: 60px;
        width: 100%;
        top: -60px;
        background: #fff;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        z-index: 5;
    }

</style>
