---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <div slot="head">
        <h1>Arbeiten bei uns</h1>
        <p>Echt zu empfehlen. text text text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text text text text text text</p>
    </div>
</Layout>
