---
import Layout from '../layouts/no_teaser.astro';
import ImageGrid from "../components/ImageGrid.astro";
---

<Layout>
    <div class="card-section dark " id="gallery">
        <div class="container">
            <ImageGrid
                title="cat gallery"
                byline="CAT cat cat cat"
                headImageUrl="https://www.alleycat.org/wp-content/uploads/2019/03/FELV-cat.jpg"
                extraImageUrls={[
                    "https://www.wondercide.com/cdn/shop/articles/Upside_down_gray_cat.png?v=1685551065",
                    "https://bestfriends.org/sites/default/files/styles/hero_mobile/public/hero-dash/Asana3808_Dashboard_Standard.jpg?h=ebad9ecf&itok=cWevo33k",
                    "https://icatcare.org/app/uploads/2018/07/Thinking-of-getting-a-cat.png"
                ]}
                bubbles={[
                    {text: "meow", icon: "/icons/clock-regular.svg"},
                    {text: "meow meow", icon: "/icons/hashtag-solid.svg"},
                    {text: "=^-^="}
                ]}
            >
            </ImageGrid>
        </div>
        <div class="container">
            <ImageGrid
                    title="cat gallery"
                    byline="CAT cat cat cat"
                    headImageUrl="https://upload.wikimedia.org/wikipedia/commons/thumb/1/15/Cat_August_2010-4.jpg/1200px-Cat_August_2010-4.jpg"
                    extraImageUrls={[
                        "https://images.pexels.com/photos/45201/kitty-cat-kitten-pet-45201.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500",
                        "https://d3544la1u8djza.cloudfront.net/APHI/Blog/2016/10_October/persians/Persian+Cat+Facts+History+Personality+and+Care+_+ASPCA+Pet+Health+Insurance+_+white+Persian+cat+resting+on+a+brown+sofa-min.jpg",
                        "https://d3544la1u8djza.cloudfront.net/APHI/Blog/2020/07-23/How+Much+Does+It+Cost+to+Have+a+Cat+_+ASPCA+Pet+Insurance+_+black+cat+with+yellow+eyes+peeking+out-min.jpg",
                        "https://hips.hearstapps.com/hmg-prod/images/cat-instagram-captions-64ff2dfa47e9a.jpg?crop=1xw:0.84375xh;center,top"
                    ]}
                    bubbles={[
                        {text: "meow", icon: "/icons/clock-regular.svg"},
                        {text: "meow meow", icon: "/icons/hashtag-solid.svg"},
                        {text: "=^-^="}
                    ]}
            >
            </ImageGrid>
        </div>
    </div>
</Layout>

<style>
    #gallery {
        display: flex;
        flex-direction: column;
        padding: 30px 0;
    }
</style>