---

---

<div class="container">
    
    <div class="career-grid">
        <img class="round-img" src="/src/assets/team_besprechung.jpg" width="500">
        <div class="career-grid-inner">
            <h2>Auf der Suche nach neuen Herausforderungen<span>?</span></h2>
            <p>
                Wir suchen motivierte und talentierte Fachkräfte, die bereit sind, ihre Karriere auf die nächste Stufe zu heben.
                Wir bieten spannende Projekte, ein dynamisches Arbeitsumfeld und hervorragende Entwicklungsmöglichkeiten. 
                Egal ob Bauleiter, Teamassistenz oder aufstrebener Werksstudent - wenn Sie Ihre Fähigkeiten unter Beweis stellen und Teil eines erfolgreichen Teams werden möchten, dann sind Sie bei uns genau richtig. 
            </p>
            <p>
                Entdecken Sie unsere aktuellen Stellenangebote und starten Sie durch!
            </p>
            <button class="cta-btn">
                Zu den Stellenangeboten
            </button>
        </div>
    </div>
</div>

<style>
    h2{
        margin: 0 0 15px;
        font-size: 30px;
        line-height: 1.2;
    }
    .career-grid{
        display: grid;
        grid-template-columns: 500px 1fr;
        gap: 50px;
        padding: 35px 0 90px;
    }
    .career-grid-inner{
        display: grid;
    }
    .cta-btn{
        align-self: center;
        margin-top: 0;
    }
</style>