---

---

<div class="container">
    <h2>Idee<span>.</span> Planung<span>.</span> Umsetzung<span>.</span></h2>
    <div class="planning-grid section">
        <div class="planning-left light-text">
            <p>
                Wir tragen uneingeschränkte Verantwortung für Ihr Bauvorhaben, sei es der komplette Innenausbau, Mieterausbau, Ladenbau oder Schlüsselfertigbau. 
            </p>
            <p>
                Wir realisieren Ihr Bauvorhaben zuverlässig und in hoher Qualität, stets mit starken Partnern an unserer Seite, mit denen wir seit vielen Jahren zusammenarbeiten.
            </p>
            <button class="cta-btn">
                Mit uns planen
            </button>
        </div>
        <img src="/src/assets/buero2.jpg" height="500" class="round-img" >
    </div>
</div>

<style>
    .planning-grid{
        display: grid;
        grid-template-columns: 0.6fr 0.4fr;
        gap: 50px;
    }
    .planning-left{
        display: grid;
        grid-template-rows: auto auto 1fr;
    }
    .planning-left > button{
        align-self: center;
    }
</style>