---

---

<div class="container">
    <div class="planning-grid section">
        <div class="light-text">
            <h3>Von der Idee, über die Plannung bis zur Umsetzung</h3>
            <p>
                Wir tragen uneingeschränkte Verantwortung für Ihr Bauvorhaben, sei es der komplette Innenausbau, Mieterausbau, Ladenbau oder Schlüsselfertigbau. 
                Wir realisieren Ihr Bauvorhaben zuverlässig und in hoher Qualität, stets mit starken Partnern an unserer Seite, mit denen wir seit vielen Jahren zusammenarbeiten.
            </p>
        </div>
        <img class="round-img" height="250" width="575" style="background-color: #eee;">
    </div>
</div>

<style>
    .planning-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
    }
    h3{
        margin-bottom: 10px;
        font-size: 24px;
    }
    p{
        font-size: 18px;
    }
</style>