---
---

<div class="container">
    <h2>Referenzen<span>.</span></h2>

    <div class=" image-gallery">
        <img class="round-img" src="/src/assets/buero9.jpg">
        <img class="round-img" src="/src/assets/buero8.jpg">
        <img class="round-img" src="/src/assets/buero10.jpg">
        <img class="round-img" src="/src/assets/kueche.jpg">
        <img class="round-img" src="/src/assets/wohnen2.jpg">
        <img class="round-img" src="/src/assets/bad.jpg">
    </div>

    <div>
        <button class="cta-btn">
           Referenzen ansehen
        </button>
    </div>
    
</div>

<style>
    .image-gallery{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 35px;
        margin-bottom: 50px;
    }
    img{
        width: 100%;
        height: 500px;
        background: #eee;
    }
    .cta-btn{
        margin-bottom: 90px;
    }
</style>