---

---

<div class="container">
    <h2>Ihre Wünsche<span>.</span></h2>
    <div class="scope-grid section dark-text">
        <div>
            <p>
                Auf uns können Sie bauen, denn Ihre Ziele setzen wir um!
            </p>
            <p>
                Ihre Wünsche und Vorstellungen für ein Projekt stehen für uns an erster Stelle.  Unsere Aufgabe ist es sie zu verstehen und umzusetzen.
            </p>
        </div>
        <img class="round-img" src="https://bp-fmck.de/wp-content/uploads/2020/05/Baubuero_Blue-Summit_09.jpg" width="375" style="background-color: #eee;">
    </div>
    <div class="scope-info">
        <div class="round-img" style="background: url('/src/assets/buero4.jpg')">
            <div>
                <h3>Beratung</h3>
                <p>immer im Sinne des Auftraggebers</p>
            </div>
            
        </div>
        <div class="round-img" style="background: url('/src/assets/buero5.jpg')">
            <div>
                <h3>Qualität</h3>
                <p>in der Umsetzung der Projekte</p>
            </div>
        </div>
        <div class="round-img" style="background: url('/src/assets/buero6.jpg')">
            <div>
                <h3>Fertigstellung</h3>
                <p>fristgerechte ohne Verzug</p>
            </div>
            
        </div>
        <div class="round-img" style="background: url('/src/assets/buero7.jpg')">
            <div>
                <h3>Kommunikation</h3>
                <p>auf Augenhöhe mit allen Beteiligten</p>
            </div> 
        </div>
    </div>
</div>

<style>
    .scope-grid{
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 50px;
    }
    .scope-info{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
        margin: 15px 0 70px;
    }
    .scope-info > div{
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        height: 220px;
        padding: 15px;
        background-size: cover!Important;
        justify-content: center;
        align-items: end;
        color: #fff;
        text-align: center;
        box-shadow: inset 0 -78px 60px -20px #212121;
        /* background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.85) 100%); */ */
    }
    .scope-info h3{
        margin: 0;
        font-size: 24px;
    }
    .scope-info p{
        margin: 0;
        font-size: 16px;
    }

</style>