---

---

<div class="container">
    <div class="scope-grid section">
        <img class="round-img" src="https://bp-fmck.de/wp-content/uploads/2020/05/Baubuero_Blue-Summit_09.jpg" width="575" style="background-color: #eee;">
        <div class="scope-info">
            <h2>Auf uns können Sie bauen, denn Ihre Ziele setzen wir um!</h2>
            <p>
                Ihre Wünsche und Vorstellungen für ein Projekt stehen für uns an erster Stelle.  Unsere Aufgabe ist es sie zu verstehen und umzusetzen.
            </p>
            <ul>
                <li>
                    Beratung immer im Sinne des Auftraggebers
                </li>
                <li>
                    Qualität in der Umsetzung der Projekte
                </li>
                <li>
                    Fristgerechte Fertigstellung ohne Verzug
                </li>
                <li>
                    Kommunikation auf Augenhöhe mit allen Beteiligten
                </li>
            </ul>
        </div>
    </div>
</div>

<style>
    .scope-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
    }
    .scope-info{
        padding: 25px 35px;
        border-radius: 25px;
        background: #b3b0b0;
    }
    h2{
        margin-bottom: 10px;
        font-size: 20px;
    }
    ul{
        margin-top: 10px;
    }

</style>