---
---
<footer>
    <p>bla bla bla footer footer footer bla bla</p>
    <p>this page is powered by cat stock photos</p>
    <p>copyright &copy; name goes here</p>
</footer>

<style>
    footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        color: white;
        align-items: center;
        margin-top: 100px;
        margin-bottom: 50px;
    }
</style>